<!DOCTYPE html>
<html lang="en">
<head>
 
    <title></title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
     style
      include style.css
</head>
<body>
  
  
    <form action="/" method="post">
        <h3>Register</h3>

        <label for="username">Username</label>
        <input type="text" name="name" placeholder="Name" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">
        
        <label for="age">Age</label>
        <input type="number" placeholder="Age" name="age" id="age">
        
        <label for="password">Height</label>
        <input type="text" placeholder="Height" name="height" id="Height">

        <label for="dob">DOB</label>
        <input type="date" placeholder="dob" name="dob" id="DOB">

        <button>Register</button>
        
    </form>
</body>
</html>

